import Config
import Dotenvy

source!(["config/.env", System.get_env()])

config :bot,
  guild_ids: [
    # One or more server ids, comma separated
    # Leave empty to register commands globally
    # Globally registered commands can take up to an hour to appear in a server
  ]

  # Store your bot token in a file called '.env' in /config in 
  # the format of "DISCORD_TOKEN=<TOKEN HERE>" without quotes.
  config :nostrum, token: env!("DISCORD_TOKEN")

config :logger, :console,
  format: "$time $metadata[$level] $message\n",
  level: :info
